# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
nyc_output

# Production
build/
dist/
# (Removed 'lib' to allow Foundry library folder)

# Env
.env
.env.*
**/ .env
**/.env.*

# Foundry
out/
cache/
broadcast/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS config
.DS_Store
.AppleDouble
.LSOverride
Icon

# TypeScript
tslogs
*.tsbuildinfo
